.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 6px solid var(--brand-main);
  border-bottom: 6px solid var(--brand-main);
  padding: 2rem 0;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23f7f3e3' fill-opacity='0.27'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  & .inner {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:#fff;
      & h2 {
        font-weight: 700;
        font-size: var(--heading-font-size);
        text-align: center;
        color: var(--brand-main);
        max-width: 80%;
        line-height: 1.4;
      }
      & svg {
        font-size: 2rem;
      }
    }
    & .reviews {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
     
      & .review {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 4rem 0;
        & .review_col {
          display: flex;
          flex-direction: column;
          margin: 0 1rem;

          & h4 {
            font-weight: 700;
            font-size: var(--standard-text-size);
            margin: 0;
          }
          & .review_text {
            margin: 0;
            font-size: 16px;
            margin-top: 1rem;
            line-height: 1.5;
          }

          & .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            & svg {
              fill: gold;
              stroke: gold;
            }
          }
          & .reviewer_name {
            display: flex;
            justify-content: center;
            & p {
              margin: 0;
              margin-top: 0.5rem;
              font-weight: 700;
              font-size: 14px;
            }
          }
        }
      }
      & .align_right {
        flex-direction: row-reverse;
        & p,
        h4 {
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    & .inner {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & h2 {
          font-weight: 700;
          font-size: var(--mobile-heading-font-size);
          text-align: center;
          color: var(--brand-main);
        }
        & svg {
          font-size: 2rem;
        }
      }
      & .indexes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        & span {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          border: 2px solid #eee;
          margin: 0 0.5rem;
          transition: all 0.3s ease;
        }
        & .active_index {
          background: #eee;
          transform: scale(1.1);
        }
      }
      & .reviews_container {
        overflow: scroll;
        width: 90%;
        display: flex;
        flex-direction: column;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
          display: none;
        }
        & .reviews {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          min-width: 1000px;

          & .review {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 80%;
            margin: 1rem;
            scroll-snap-align: center;
            & .review_col {
              display: flex;
              flex-direction: column;
              margin: 1rem 0;

              & h4 {
                font-weight: 700;
                font-size: var(--standard-text-size);
                margin: 0;
                text-align: center;
              }
              & .review_text {
                margin: 0;
                font-size: var(--standard-text-size);
                margin-top: 1rem;
                line-height: 1.2;
                text-align: center;
              }

              & .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                & svg {
                  fill: gold;
                  stroke: gold;
                }
              }
              & .reviewer_name {
                display: flex;
                justify-content: center;
                & p {
                  margin: 0;
                  margin-top: 0.5rem;
                  font-weight: 700;
                  font-size: 14px;
                }
              }
            }
          }
          & .align_right {
            flex-direction: column;
            & p,
            h4 {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
