.loading_container {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  & .loading_inner {
    width: 30vw;
    height: 30vh;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .loading_container {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    & .loading_inner {
      width: 60vw;
      height: 30vh;
      border-radius: 3px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
